@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
.logo{
    width: 4.5rem;
    height: 4.5rem;
}
.burger{
    width: 3.5rem;
    height: 3.5rem;
    float: right;
}
.pad-rem{
    padding: 1rem;
}
#projects{
    color: #6ECB63;
}
.skills{
    color:#6ECB63;
}
.font{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem ;
    color: #6ECB63;
}
.align-center{text-align: center;}
.font-h2{
    font-family: sans-serif; font-size: 1.5rem; z-index: 1; color: #fff;
}
.font-h3{
    text-align: center; font-size: 1.8rem;
    font-family: sans-serif;
    z-index: 1; color:  white;
}
.font-h3-h4{
    font-family: sans-serif; font-size: 1.3rem; z-index: 1; color:  white;
    text-align: justify;
}
#wave{
    position: absolute; 
    top: -8.5em;
    z-index: -1;
     width: 99%;
}
#mid-section{
    margin-top: 3rem;
    z-index: 1;
    background-color: #6ECB63;
    align-items: center;
}
.android-web{
    margin: 0.5rem auto;
    height: 40rem;
}
.box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    padding: 1rem;
}

.box-span {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;

}
.box:hover {
  
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #6ECB63;
   
}
.gradient{
    background: rgb(110,203,99);
    background: linear-gradient(90deg, rgba(110,203,99,1) 0%, rgba(255,255,255,1) 52%, rgba(110,203,99,1) 100%);   
}
.wave-container{
    margin-top: 9rem;
    position: relative;
}
.margin-top{
    margin-top: 5rem;
}
.padding-bot{
    padding-bottom: 6rem;
}
.margin-bot{
    margin-bottom: 1.5rem;
}
.my-self{
    margin-top: 10rem; background-color: #6ECB63; padding: 3rem;  border-radius: 6px;
        box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}
.icons{
   width: 9rem;
   height: 8rem;
   margin:1rem ;
}
p:not(#footer){
    text-align: center;
}
.navbar-padding{
    padding: 0.5rem;
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}
ul{
    list-style-type: none;
}
@media screen and (max-width:1450px) {
    #wave{
        display: none;
    }
    .green-bg{
        background:#6ECB63;
        padding: 1em;
        margin:2px ;
    }
}
.topnav {
    overflow: hidden;
 
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: inline-block;
    float: right;
  }
  
  /* Style navigation menu links */
  .topnav  {
  
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .links:link, .links:visited {
  border:1px solid #6ECB63;
  color: #6ECB63;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.links:hover, .links:active {
 
  box-shadow: 5px 10px 18px #6ECB63;
}
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  @media screen and (min-width:600px){
   .burger{
        display: none !important;
    }

  }
@media screen and (max-width:600px){
    .topnav #myLinks {
        display: none !important;
    }
    textarea{
        width: 90%;
    }
    #footer-text{
        display: none;
    }
    
  }
  #form{
    margin:auto;text-align: center;
  display:none;
  
  }
  #email{
      border:none;
      border-bottom: 2px solid  green;
      margin-bottom:2% ;
  }
  textarea {

    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  body {
    position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards}
    
  @keyframes example {
    from {left: -1200px;}
    to {left: 0px;   }
  }
  .rowSkills>div{
padding: 1rem 5rem;
  }